/src/sfintegration.timesheets.consoleapp/bin
/src/sfintegration.timesheets.consoleapp/obj
/src/sfintegration.salesforce.api.client/bin
/src/sfintegration.salesforce.api.client/obj
/src/sfintegration.infrastructure/bin
/src/sfintegration.infrastructure/obj
/src/sfintegration.entities/bin
/src/sfintegration.entities/obj
/src/bhive.entities/bin
/src/bhive.entities/obj
/.vs/bhive-sfintegration2/v15/Server/sqlite3/db.lock
/.vs/bhive-sfintegration2/v15/Server/sqlite3
/.vs/SFIntegration-TimeSheets/v15/Server/sqlite3/db.lock
/.vs/SFIntegration-TimeSheets/v15/Server/sqlite3/storage.ide
/.vs/SFIntegration-TimeSheets/v15/Server/sqlite3/storage.ide-shm
/.vs/SFIntegration-TimeSheets/v15/Server/sqlite3/storage.ide-wal
