<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bhive.SFIntegration.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Bhive.SFIntegration.Client.Properties.Settings>
      <setting name="Bhive_SFIntegration_Client_SFEnterprise_SforceService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/c/40.0/0DF80000000TcQo</value>
      </setting>
    </Bhive.SFIntegration.Client.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="TestUserName" value="robert.imperio@broad-path.com.dev2" />
    <add key="TestPassword" value="W1nn33P00h2!" />
    <add key="TestConsumerKey" value="3MVG98dostKihXN4fn.nOuJlsk36bCIYhQYiMTVjvECPBfK7A579XqYhX4F23_MtEGZVd6I9diaCZ3R9HTbrD" />
    <add key="TestConsumerSecret" value="8598868195696952238" />
    <add key="TestLoginUrl" value="https://test.salesforce.com/services/oauth2/token" />
    <add key="ProdUserName" value="robert.imperio@broad-path.com" />
    <add key="ProdPassword" value="W1nn33P00h2!" />
    <add key="ProdConsumerKey" value="3MVG9CVKiXR7Ri5p9_Gkpr1vasRkkndVenbYvnUrdKJFPmCLZ0COPLF.LnuOKofV8w.j9xYMQIuV3.RohqXH." />
    <add key="ProdConsumerSecret" value="2418214850556981888" />
    <add key="ProdLoginUrl" value="https://login.salesforce.com/services/oauth2/token" />
  </appSettings>
</configuration>