<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="BhiveContext"
         connectionString="Server=tcp:testbhive.database.windows.net,1433;Initial Catalog=Bhive;Persist Security Info=False;User ID=bhiveuser;Password=br0adP@th!;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)" />
    <add name="SFIntegrationContext"
         connectionString="Server=tcp:testbhive.database.windows.net,1433;Initial Catalog=Integration-SF;Persist Security Info=False;User ID=bhiveuser;Password=br0adP@th!;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="StorageAccount"
         value="DefaultEndpointsProtocol=https;AccountName=testbhive;AccountKey=z2v/Fxk6aYXvRcJujDKLGPliZnfxebVMq0NkGBgtehtdvhqOBv+vV6XGDU1kl/TKeo9umEuTAr7Q2RRv+0HPKg==;BlobEndpoint=https://testbhive.blob.core.windows.net/;QueueEndpoint=https://testbhive.queue.core.windows.net/;TableEndpoint=https://testbhive.table.core.windows.net/;FileEndpoint=https://testbhive.file.core.windows.net/;"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
    <add key="Env"
         value="Test"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
  </appSettings>
</configuration>