<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="BhiveContext"
         connectionString="Server=localhost;Database=Bhive;User ID=bhiveuser;Password=br0adP@th!;Trusted_Connection=False;MultipleActiveResultSets=True;Max Pool Size=200;Pooling=true;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)" />
    <add name="SFIntegrationContext"
         connectionString="Server=localhost;Database=Integration-SF;User ID=bhiveuser;Password=br0adP@th!;Trusted_Connection=False;MultipleActiveResultSets=True;Max Pool Size=200;Pooling=true;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="StorageAccount"
         value="UseDevelopmentStorage=true"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
    <add key="Env"
         value="Dev"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
  </appSettings>
</configuration>