<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <connectionStrings>
    <add name="BhiveContext" connectionString="server=localhost;Database=Bhive;User ID=bhiveuser;Password=br0adP@th!;Trusted_Connection=False;MultipleActiveResultSets=True;Max Pool Size=200;Pooling=true;" providerName="System.Data.SqlClient" />
    <add name="SFIntegrationContext" connectionString="Server=localhost;Database=integration-SF;User ID=bhiveuser;Password=br0adP@th!;Trusted_Connection=False;MultipleActiveResultSets=True;Max Pool Size=200;Pooling=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Z_EntityFramework_Extensions_LicenseName" value="1423;101-BroadPath" />
    <add key="Z_EntityFramework_Extensions_LicenseKey" value="30117068-14cf-40cd-0661-d46e2dbdfd8d" />
    <add key="StorageAccount" value="UseDevelopmentStorage=true"/>
    <add key="Env" value="Dev" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.5.0.0" newVersion="8.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogLevel="Trace" internalLogToConsole="true">
    <extensions>
      <add assembly="NLog.Extensions.AzureStorage"/>
    </extensions>
    <variable name="StartDate" value=""/>
    <targets>
      <target name="debugger" xsi:type="Debugger" layout="${message}"/>
      <target name="AzureTable" xsi:type="AzureTableStorage" connectionStringKey="StorageAccount" tableName="SFIntegrationTimeSheets" layout="START DATE: ${var:name=StartDate} ${when:when=level==LogLevel.Info:inner=:else= | ${callsite}} | ${message} ${exception:format=tostring:innerFormat=tostring:maxInnerExceptionLevel=1000}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="debugger"/>
      <logger name="AzureLogger" minlevel="Info" writeTo="AzureTable"/>
    </rules>
  </nlog>
</configuration>