<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="BhiveContext"
         connectionString="Server=tcp:bhive.database.windows.net,1433;Initial Catalog=Bhive;Persist Security Info=False;User ID=bhiveuser;Password=asdf97#$%5lneuiGpdFlkjasdf;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)" />
    <add name="SFIntegrationContext"
         connectionString="Server=tcp:bhive.database.windows.net,1433;Initial Catalog=Integration-SF;Persist Security Info=False;User ID=bhiveuser;Password=asdf97#$%5lneuiGpdFlkjasdf;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="StorageAccount"
         value="DefaultEndpointsProtocol=https;AccountName=prodbhive;AccountKey=CEKAduS9b7EZ/lsMxzvJ4fdueTe3YjP00rfCHAZ5VVxkXyxRb0ZzhH0irlzdReKrTU9dU3sa/3l9CM6O/nT2aA==;BlobEndpoint=https://prodbhive.blob.core.windows.net/;QueueEndpoint=https://prodbhive.queue.core.windows.net/;TableEndpoint=https://prodbhive.table.core.windows.net/;FileEndpoint=https://prodbhive.file.core.windows.net/;"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
    <add key="Env"
         value="Prod"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
  </appSettings>
</configuration>